<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>21648B-Carlos Silvera</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body class="p-1 mb-1 bg-black text-white">
    
    <main>
      <div class="w-100 p-3">
        <div class="container text-center">
        
          <% allPosts.forEach((post) => { %>
  
              <div class="card mb-3" style="max-width: 1000px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="<%= post.imglink %>" class="img-fluid rounded-start" alt="<%= post.title %>">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5>
                        <p class="card-text"><%= post.content %></p>
                        <p class="card-text"><small class="text-body-secondary"><%= post.createdAt %></small></p>
                        <a href="/posts/update/ <%= post.id %>" class="btn btn-primary">✏️ Modificar</a>
                        <button onclick="confirmDelete('<%= post.id %>')" class="btn btn-primary">❌ Eliminar</button>
                        <!-- <a href="/posts/delete/ <%= post.id %>" class="btn btn-primary">❌ Eliminar</a> -->
                      </div>
                    </div>
                  </div>
                </div>
  
          <% })
          %>
   
      </div>


      </div>
    </main>

    <script>
      function confirmDelete(postId) {
        const confirmation = confirm("¿Esta seguro de eliminar el Post?")
          if (confirmation) {
          // Redirect to a delete route with the postId
          window.location.href = `/posts/delete/${postId}>`
        }
    }
    </script>

</body>
</html>